Repository habberrih/portfolio, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, frontend, ci, config, styles, docs, tests

.github/labeler.yml:

# Keep Dependabot tidy
dependencies:
  - created-by: dependabot[bot]
  - title: '/^chore\(deps(.*)?\):/i'

# npm-specific file touches (avoids "config" overlap)
npm:
  - changed-files:
      - any-glob-to-any-file:
          - 'package.json'
          - 'package-lock.json'
          - 'npm-shrinkwrap.json'
          - '**/package.json'
          - '**/package-lock.json'
          - '**/npm-shrinkwrap.json'

# Your existing buckets
frontend:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/**'
          - 'public/**'

ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/workflows/**'

# Narrow "config" so it doesn't grab package*.json
# (explicit common config files instead of "*.json")
config:
  - changed-files:
      - any-glob-to-any-file:
          - '.eslintrc'
          - '.eslintrc.*'
          - '.prettierrc'
          - '.prettierrc.*'
          - 'tsconfig.json'
          - 'tsconfig.*.json'
          - 'vite.config.*'
          - 'webpack.config.*'
          - 'rollup.config.*'
          - 'jest.config.*'
          - 'babel.config.*'
          - '*.config.js'
          - '*.config.cjs'
          - '*.config.mjs'
          - '*.config.ts'
          - '**/*.yml'
          - '**/*.yaml'
          - '**/*.mjs'
          - '**/*.cjs'
          - '**/*.ts'
          - '**/*.js'

styles:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.css'
          - '**/*.scss'

docs:
  - changed-files:
      - any-glob-to-any-file:
          - 'README.md'
          - 'docs/**'
          - 'CONTRIBUTING.md'
          - 'CODE_OF_CONDUCT.md'

tests:
  - changed-files:
      - any-glob-to-any-file:
          - 'tests/**'

feat: add pull request labeler workflow
  .github/workflows/pull-request-labeler.yml
Labels: ci, config

feat: add sync labels workflow
  .github/workflows/sync-labels.yml
Labels: ci, config

fix: update sync labels workflow for consistency and functionality
  .github/workflows/sync-labels.yml
Labels: ci, config

style: update color variables for improved theme consistency
  src/app/globals.css
Labels: frontend, styles

fix: remove color change on hover for About Me heading
  src/components/about-section.tsx
Labels: frontend

style: improve code formatting and consistency in ContactSection component
  src/components/contact-section.tsx
Labels: frontend

style: enhance code consistency and update color variables in EducationSection component
  src/components/education-section.tsx
Labels: frontend

fix: update background and text colors for improved theme consistency in ExperienceSection component
  src/components/experience-section.tsx
Labels: frontend

style: enhance code consistency and improve formatting in ServicesSection component
  src/components/services-section.tsx
Labels: frontend

fix: update background colors and enhance code consistency in ProjectsSection component
  src/components/projects-section.tsx
Labels: frontend

fix: update background colors for improved theme consistency in NewsSection component
  src/components/news-section.tsx
Labels: frontend

fix: update name in navigation to reflect correct branding
  src/components/navigation.tsx
Labels: frontend

fix: update background color in HeroSection for improved theme consistency
  src/components/hero-section.tsx
Labels: frontend

fix: update footer component styles for improved theme consistency
  src/components/footer.tsx
Labels: frontend

refactor: update description in HeroSection to reflect AI expertise
  src/components/hero-section.tsx
Labels: frontend

fix: update publication details in EducationSection for accuracy
  src/components/education-section.tsx
Labels: frontend

fix: update contact information in ContactSection for accuracy
  src/components/contact-section.tsx
Labels: frontend

refactor: update experience and project statistics in AboutSection for accuracy
  src/components/about-section.tsx
Labels: frontend

chore: update contact phone number in README
  README.md
Labels: docs

chore: update package.json to enhance linting scripts and add ESLint dependencies
  package-lock.json
  package.json
Labels: npm

chore: add ESLint configuration for improved code quality
  eslint.config.mjs
Labels: config

chore: import routes type definitions in next-env.d.ts
  next-env.d.ts
Labels: config

chore: remove ESLint configuration from next.config.mjs
  next.config.mjs
Labels: config

chore: update tsconfig.json to use 'react-jsx' for JSX and include additional type definitions
  tsconfig.json
Labels: config

feat: add GlobalError component for improved error handling and user feedback
  src/app/global-error.tsx
Labels: frontend

style: standardize import statements and add missing semicolons
  src/app/page.tsx
Labels: frontend

style: update quotes to double quotes and refine content in AboutSection component
  src/components/about-section.tsx
Labels: frontend

style: standardize quotes to double quotes in ContactSection component
  src/components/contact-section.tsx
Labels: frontend

refactor: update education details in EducationSection component
  src/components/education-section.tsx
Labels: frontend

refactor: update experience section with new roles and standardize quotes
  src/components/experience-section.tsx
Labels: frontend

style: update footer description to reflect current role and education
  src/components/footer.tsx
Labels: frontend

refactor: standardize quotes and update roles in HeroSection component
  src/components/hero-section.tsx
Labels: frontend

refactor: standardize quotes and update award titles in NewsSection component
  src/components/news-section.tsx
Labels: frontend

refactor: standardize quotes and update project details in ProjectsSection component
  src/components/projects-section.tsx
Labels: frontend

refactor: update services section with new titles, descriptions, and standardize quotes
  src/components/services-section.tsx
Labels: frontend

refactor: enhance ThemeProvider with mounted state management for client-side rendering
  src/components/theme-provider.tsx
Labels: frontend

refactor: add Lamah Gate API project details to ProjectsSection component
  src/components/projects-section.tsx
Labels: frontend

feat: add School API project details to ProjectsSection component
  src/components/projects-section.tsx
Labels: frontend

feat: add Laravel category and new project details to ProjectsSection component
  src/components/projects-section.tsx
Labels: frontend

feat: add Express.js category and new project details to ProjectsSection component
  src/components/projects-section.tsx
Labels: frontend
